<article id="leads">
  <h1>Leads</h1>
  <ul>
    {{#each lead in controller}}
      <li>
        {{#link-to 'lead' lead}}
          {{ lead.fullName }}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</article>